body {
	background-color:rgb(0, 0, 0);
	margin: 0;
}

.square {
	width: 30%;
	background: purple;
	padding-top: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0px auto;
	max-width: 600px;
}

h1 {
	background-color: steelblue;
	color: white;
	line-height: 1.1;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 50px;
	text-align: center;


}

#message{
	color: rgb(5, 1, 1);
	display: inline-block;
	width: 30%;
}

#stripe {
	background: rgb(255, 130, 130);
	height: 30px;
	text-align: center;
	color: black;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	;
}

.selected{
	background: rgb(98, 98, 202);

}

button{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#colorDisplay{
	font-size: 200%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button{
	border: none;
	text-transform: uppercase;
	height: 100%;
	color: white;
	letter-spacing: 1px;
	font-size: normal ;
	background: none;
	transition: 0.5s;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover{
	color:white;
	background: steelblue;
}

.square{
	border-radius: 10%;
	transition: 0.5s;
	transform-style: inherit;
}